module Exceptions
  class DefaultError < StandardError
    attr_reader :message

    def initialize(msg = "unknown error", notification = false)
      @message = msg
      puts "DefaultError => #{msg}" if Rails.env.development?
    end
  end
end
