// <div data-controller="<%%= controller_pattern  %>">
//   <h1 data-target="<%%= controller_pattern  %>.output"></h1>
// </div>
import { Controller } from "stimulus";
import api from 'utils/api';
import helpers from 'utils/helpers';

export default class extends Controller {
  static targets = [ "output" ];

  connect() {
    this.outputTarget.textContent = 'Hello, Stimulus! from <%%= stimulus_path %>'
  }
}