<div class="mx-auto" style="max-width: 768px;">
  <div class="pb-6 lg:pb-12 px-6">
    <a href="http://www.paulgraham.com/startupideas.html" target="_blank" class="block w-full my-2 text-xl lg:text-3xl font-bold leading-tight text-center text-gray-800">Lorem ipsum dolor</a>
    <p class="text-sm lg:text-base text-gray-500 text-center">"Nullam ut vulputate orci. Duis eleifend urna nec."</p></div>
  <div class="bg-white p-3">
    <% 3.times do %>
      <p class="mb-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut vulputate orci. Duis eleifend urna nec lacus
        faucibus ultricies. Aliquam in mattis justo. Nunc sollicitudin blandit venenatis. Nam rutrum, urna at hendrerit
        aliquam, nisl nibh pretium lorem, vel fringilla risus dolor id tortor. Vestibulum massa massa, scelerisque vitae
        cursus a, ultricies id orci. Pellentesque vel efficitur felis, in aliquam neque. Sed semper sed sem vel fermentum.
        Curabitur eget tortor ut nisi hendrerit blandit. Suspendisse semper feugiat neque nec imperdiet. Maecenas
        vulputate fringilla lectus ut dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Mauris accumsan tortor a lacus consectetur, et dignissim ante venenatis. Vivamus sit amet aliquam
        tortor, vel vehicula turpis. Proin posuere nibh in lorem rutrum, a elementum leo dignissim. Vestibulum massa
        ipsum, venenatis id leo nec, luctus efficitur mi.
      </p>
      <p class="mb-3">
        Integer porta pretium turpis ut gravida. Suspendisse efficitur lorem accumsan ante tincidunt maximus et vel quam.
        Morbi nec mattis metus. Nullam aliquet enim et ultricies rhoncus. Phasellus eleifend tempor erat at tempor. Donec
        dapibus facilisis orci, nec suscipit metus sollicitudin sit amet. In elementum ligula a fermentum accumsan. Aenean
        metus diam, accumsan sit amet hendrerit id, rutrum nec diam. Suspendisse ligula turpis, vulputate in malesuada
        aliquet, interdum quis ipsum. Mauris hendrerit mauris vel tincidunt volutpat.
      </p>
      <p class="mb-3">
        Nam imperdiet maximus ultricies. Curabitur rhoncus sollicitudin posuere. Sed semper sagittis placerat. Mauris vel
        leo mauris. Ut urna justo, pulvinar sed elit non, imperdiet vehicula augue. Aenean et porttitor nisl, ac mollis
        tellus. Morbi cursus enim non scelerisque interdum. Sed luctus justo eu dapibus congue. Sed euismod interdum ante
        eu blandit. Duis tortor arcu, molestie eget egestas sed, tempus ac urna.
      </p>
    <% end %>
  </div>
</div>