<!DOCTYPE html>
<html>
  <head>
    <title><%= app_name %></title>
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%%= javascript_pack_tag  'stylesheets', media: 'all' %>
    <%%= javascript_include_tag 'application', media: 'all' %>
  </head>

  <body>
    <%%= yield %>
  </body>
</html>
