<!DOCTYPE html>
<html>
  <head>
    <title>🔥🔥🔥 <%= app_name %></title>
    <meta name="description" content="Website for <%= app_name %>">
    <meta property="og:type" content="object">
    <meta property="og:site_name" content="🔥🔥🔥">
    <meta property="og:title" content="🔥🔥🔥 <%= app_name %>">
    <meta property="og:description" content="Website for <%= app_name %>">
    <meta property="og:url" content="https://<%= app_domain %>">
    <meta property="og:image" content="https://picsum.photos/200"/>
    <meta name="keywords" content="<%= app_name %>">

    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="yeti" content="index, follow">

    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" name="viewport">

    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>

    <%%= stylesheet_pack_tag  'application', media: 'all' %>
    <%%= javascript_pack_tag 'application', media: 'all' %>
  </head>
</html>
